.signup{
    height: 110vh;
}
.signup-data{
    display: grid;
    grid-template-columns: repeat(1, 400px);
    justify-content: center;
    margin-top: 3rem;
    /* position: absolute; */
    
}
.signup-with{
    display: flex;
    flex-direction: column;
}
.inputs{
    display: flex;
    flex-direction: column;
}
.input{
    padding: 10px;
    margin: .6rem 0;
    background: transparent;
    color: white;
    border: none;
    border: 2px solid grey;
    border-radius: 25px;
}
.cred{
    align-items: center;
    text-align: center;
}
.dont{
    margin-top: 2rem;
    text-align: center;
    color: white;
}